*{
 
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
    height: 75px;
    margin: 5px;
    border-radius: 2px;

}
header h3 {
    background-color: aqua;
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header ul {
    display: flex;
}

header ul li {
    padding: 5px;
    list-style: none;
}