.card-container{
    display: flex;
    width:100%;
    overflow: hidden;
    padding:0.5rem;
}
.container1{
    background-color: aqua;
    display: flex;
    width:100%;
    flex-direction: column;
    
}
.container2{
background-color: blueviolet;
min-width: 30%;
}

.card-wrapper{
    display: flex;
    width: 100%;
    gap:0.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.w-screen{
    width:100vw;
    max-width: 100vw;
}

.w-full{
    width:100%;
}

*{
 
    box-sizing: border-box;
    margin:0px;
    padding :0px;
}
.p-2{
    padding:0.5rem;
}

.pb-2{
    padding-bottom: 0.5rem;
}