*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

footer{
    background-color: red;
    margin: 5px;
    border-radius: 2px;
    height: 50px;
    
}
footer h3 {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: center;
}